<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous"
    /><!--bootstrap-->
    <link rel="stylesheet" href="/static/css/style.css"/><!--nav css-->
    <script src="https://kit.fontawesome.com/c8924a8203.js" crossorigin="anonymous"></script><!--引入icon库-->
    <link
            type="text/css"
            rel="stylesheet"
            href="//cdn.jsdelivr.net/npm/jsmind/style/jsmind.css"
    /><!--jsmind-->
    <style type="/static/css/text/css">
        #jsmind_container {
            width: 1000px;
            height: 600px;
            border: solid 1px #ccc;
            /*background:#f4f4f4;*/
            background: #f4f4f4;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css"><!--引入bootstrap5表格组件-->


    <style>
        body {
            background-color: #fbfbfb;
        }

        @media (min-width: 991.98px) {
            main {
                padding-left: 240px;
            }
        }

        /* Sidebar */
        .sidebar {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 58px 0 0; /* Height of navbar */
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
            width: 240px;
            z-index: 600;
        }

        @media (max-width: 991.98px) {
            .sidebar {
                width: 100%;
            }
        }

        .sidebar .active {
            border-radius: 5px;
            box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
        }
    </style>

</head>
<body>
    <!--上导航栏-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top  ">
        <!--大屏幕会展开，navbar-dark与bg-dark表示设置为黑底白字，fixed-top表示固定在最上方-->
        <div class="container">
            <a class="navbar-brand" href="#">燃煤之籍<!--导航栏logo栏-->
               <img src="{%static 'imgg/img/gas.png'%}" class="img-fluid" alt="">
            </a>

            <!-- 折叠按钮，用于将导航菜单折叠起来 -->
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 折叠的导航菜单 -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">基础数据管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">输差管理</a>
                    </li>
                    <!--下拉菜单样式定义-->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            日常管理
                        </a>
                        <!-- 下拉菜单内容 -->
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">设备运维管理</a></li>
                            <li><a class="dropdown-item" href="#">气量交接管理</a></li>
                            <li><a class="dropdown-item" href="#">气损记录管理</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            数据查询分析
                        </a>
                        <!-- 下拉菜单内容 -->
                        <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">销气数据</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">数据分析</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--侧边栏-->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">
                <a
                        href="{% url 'home' %}"
                        class="list-group-item list-group-item-action py-2 ripple "
                        aria-current="true"
                >
                    <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>主页</span>
                </a>
                <a href="{% url 'Qp' %}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-chart-area fa-fw me-3"></i><span>购气总量Q<sub>p</sub></span>
                </a>
                <a href="{% url 'Qi' %}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-chart-line fa-fw me-3"></i><span>库存差Q<sub>i-t1</sub>-Q<sub>i-t2</sub></span>
                </a>
                <a href="{% url 'Qs' %}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fas fa-chart-bar fa-fw me-3"></i><span>总销气量Q<sub>s</sub></span>
                </a>
                <a href="{% url 'Qf' %}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fa-solid fa-chart-gantt me-3"></i><span>自用气量Q<sub>f</sub></span>
                </a>
                <a href="{% url 'Qc' %}" class="list-group-item list-group-item-action py-2 ripple ">
                    <i class="fa-solid fa-chart-column me-3"></i><span>索赔气量Q<sub>c</sub></span>
                </a>
                <a href="{% url 'Qd' %}" class="list-group-item list-group-item-action py-2 ripple">
                    <i class="fa-regular fa-chart-bar me-3"></i><span>放散气量Q<sub>d</sub></span>
                </a>
                <a href="{% url 'delta' %}" class="list-group-item list-group-item-action py-2 ripple active">
                    <i class="fa-solid fa-chart-simple me-3"></i><span>购销差▲与购销差率μ</span>
                </a>
            </div>
        </div>
    </nav>
    <!--右侧主要内容-->
    <section class="container-fluid">
        <div class="row  navbar-expand-md">
            <div class="col-md-3 col-lg-2 ">
                <!--nothing here-->
            </div>
            <div class="col-md-9 col-lg-10 mt-3 ">
                <div class="d-flex">
                    <span class="ms-3 mt-3">开始时间：</span>
                    <div class="ms-3 mt-2">
                        <input class="form-control " type="date"/>
                    </div>
                    <span class="ms-3 mt-3">结束时间：</span>
                    <div class="ms-3 mt-2">
                        <input class="form-control" type="date"/>
                    </div>
                    <span class="ms-3 mt-3">指标名称：</span>
                    <div class="ms-3 mt-2">
                        <select class="form-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>
                    <span class="ms-3 mt-3">类型：</span>
                    <div class="ms-3 mt-2">
                        <select class="form-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                    <div class="input-group-append ms-3 mt-2">
                        <button type="button" class="btn btn-secondary ">搜索</button>
                    </div>
                    <div class="input-group-append ms-3 mt-2">
                        <button type="button" class="btn btn-secondary btn-danger">重置</button>
                    </div>
                </div>
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                    <tr>

                        <th scope="col">日期</th>
                        <th scope="col">指标名称</th>
                        <th scope="col">类型名称</th>
                        <th scope="col">管输购气总量</th>
                        <th scope="col">CNG购气总量</th>

                        <th scope="col">LNG购
                            气总量
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--第一行-->
                    <tr>

                        <td>1</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem 456</td>
                        <td>Lorem ipsum</td>
                        <td>Lorem ipsum</td>
                        <td>
                            asdw
                        </td>
                    </tr>

                    </tbody>
                </table>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">当前</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">6</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">7</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">8</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">9</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);">...</a></li>
                </ul>
            </div>

        </div>
    </section>


    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">

    </script>
    <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
    <script src="/static/js/jquery.js"></script>

    </script>
    <script>
        $(function () {
            $('.datepicker').datepicker();
        });
    </script>

</body>
</html>
