<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>泄漏预测-1</title>
        <link rel="stylesheet" href="/static/css/泄漏预测-1.css">
    </head>
    <body>
        <script src="/static/js/flexible.js"></script>
        <header>
            <div class="logo"></div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'overall' %}" target="_self"><button class="button2">总体概览</button></a></li>
                    <li><a href="{% url 'calculation' %}" target="_self"><button class="button2">表具计量</button></a></li>
                    <li><a href="{% url 'supervision' %}" target="_self"><button class="button2">用气监测</button></a></li>
                    <li><a href="{% url 'leakage' %}" target="_self"><button class="button2">泄漏预测</button></a></li>
                    <li><a href="{% url 'pipe' %}" target="_self"><button class="button2">管容变化</button></a></li>
                    <li><a href="{% url 'temp' %}" target="_self"><button class="button2">温压补偿</button></a></li>
                </ul>
            </div>
            <div class="showTime">当前时间</div>
            <script>
               var t=null;
               t=setTimeout(time,1000);//开始运行
               function time(){
                 clearTimeout(t);//清除定时器
                 dt=new Date();
                 var y=dt.getFullYear();
                 var mt=dt.getMonth()+1;
                 var day=dt.getDate();
                 var h=dt.getHours();
                 var m=dt.getMinutes();
                 var s=dt.getSeconds();
                 document.querySelector(".showTime").innerHTML=
                  y+"年"+mt+"月"+day+"日     "+h+":"+m+":"+s;
                 t=setTimeout(time,1000);//设置定时器，循环运行
               }
            </script>
        </header>

        <!-- 页面主体部分 -->
        <section class="mainbox">
            <div class="box1">
                <div class="select">
                    <a href="{% url 'leakage' %}"><input type="button" onclick="window.location.href('连接')" value="Page 1"/></a>
                    <a href="{% url 'leakage2' %}"><input type="button" onclick="window.location.href('连接')" value="Page 2"/></a>
                </div>
            </div>
            <div class="column1">
                <div class="box2">
                    <div class="title">
                        <p>存量泄露点损失气量</p>
                    </div>
                    <div class="pic">
                        <div class="line1">
                            <div class="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="box3">
                    <div class="mbox2">
                        <div class="title">
                            <p>存量泄露点损失气量构成</p>
                        </div>
                        <div class="pic">
                            <div class="pie1">
                                <div class="chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box4">
                    <div class="list">
                        <table>
                           <tr>
                               <th>泄漏点位置</th>
                               <th>损失气量</th>
                               <th>占比 %</th>
                           </tr>
                           <tr>
                                <td align="center">第一营业所</td>
                                <td align="center">48</td>   
                                <td align="center">24</td>
                           </tr>
                           <tr class="lan">
                               <td align="center">第二营业所</td>
                               <td align="center">74</td>
                               <td align="center">37</td>
                           </tr>
                           <tr>
                               <td align="center">第三营业所</td>
                               <td align="center">54</td>
                               <td align="center">27</td>
                           </tr>  
                           <tr class="lan">
                               <td align="center">第四营业所</td>
                               <td align="center">20</td>
                               <td align="center">10</td>
                           </tr>
                        </table>
                      </div>  
                </div>
            </div>
            <div class="column2"></div>
            <div class="column3">
                <div class="box5">
                    <div class="title">
                        <p>各区域存量泄露点损失气量</p>
                    </div>
                    <div class="list">
                        <table>
                            <tr>
                                <th>年份</th>
                                <th>第一营业所</th>
                                <th>第二营业所</th>
                                <th>第三营业所</th>
                                <th>总量</th>
                            </tr>
                            <tr class="lan">
                                <td align="center">2016</td>
                                <td align="center">30</td>
                                <td align="center">13</td>
                                <td align="center">24</td>
                                <td align="center">24</td>
                            </tr>
                            <tr>
                                 <td align="center">2017</td>
                                 <td align="center">18</td> 
                                 <td align="center">24</td>
                                 <td align="center">34</td>
                                 <td align="center">13</td>  
                            </tr>
                            <tr class="lan">
                                <td align="center">2018</td>
                                <td align="center">12</td>
                                <td align="center">24</td>
                                <td align="center">16</td>
                                <td align="center">25</td>
                            </tr>
                            <tr>
                                <td align="center">2019</td>
                                <td align="center">22</td>
                                <td align="center">24</td>
                                <td align="center">15</td>
                                <td align="center">56</td>
                            </tr>  
                            <tr class="lan">
                                <td align="center">2020</td>
                                <td align="center">30</td>
                                <td align="center">15</td>
                                <td align="center">23</td>
                                <td align="center">43</td>
                            </tr>
                            <tr class="lan">
                                <td align="center">2021</td>
                                <td align="center">30</td>
                                <td align="center">21</td>
                                <td align="center">53</td>
                                <td align="center">14</td>
                            </tr>
                            <tr class="lan">
                                <td align="center">2022</td>
                                <td align="center">30</td>
                                <td align="center">16</td>
                                <td align="center">29</td>
                                <td align="center">18</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="box6">
                    <div class="mbox3"></div>
                    <div class="mbox4"></div>
                </div>
            </div>
        </section>
        <script src="/static/js/flexible.js"></script>
        <script src="/static/js/echarts_min.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/泄漏预测-1.js"></script>
    </body>
</html>