<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>温压补偿-1</title>
        <link rel="stylesheet" href="/static/css/温压补偿-1.css">
    </head>
    <body>
        <script src="/static/js/flexible.js"></script>
        <header>
            <div class="logo"></div>
            <div class="nav">
                <ul>
                    <li><a href="{% url 'overall' %}" target="_self"><button class="button2">总体概览</button></a></li>
                    <li><a href="{% url 'calculation' %}" target="_self"><button class="button2">表具计量</button></a></li>
                    <li><a href="{% url 'supervision' %}" target="_self"><button class="button2">用气监测</button></a></li>
                    <li><a href="{% url 'leakage' %}" target="_self"><button class="button2">泄漏预测</button></a></li>
                    <li><a href="{% url 'pipe' %}" target="_self"><button class="button2">管容变化</button></a></li>
                    <li><a href="{% url 'temp' %}" target="_self"><button class="button2">温压补偿</button></a></li>
                </ul>
            </div>
            <div class="showTime">当前时间</div>
            <script>
               var t=null;
               t=setTimeout(time,1000);//开始运行
               function time(){
                 clearTimeout(t);//清除定时器
                 dt=new Date();
                 var y=dt.getFullYear();
                 var mt=dt.getMonth()+1;
                 var day=dt.getDate();
                 var h=dt.getHours();
                 var m=dt.getMinutes();
                 var s=dt.getSeconds();
                 document.querySelector(".showTime").innerHTML=
                  y+"年"+mt+"月"+day+"日     "+h+":"+m+":"+s;
                 t=setTimeout(time,1000);//设置定时器，循环运行
               }
            </script>
        </header>

        <!-- 页面主体部分 -->
        <section class="mainbox">
            <div class="box1">
                <div class="word">
                    <p>天然气实际使用过程中，工况温度与压强与标况有差异，而用户端不含温压补偿。</p>
                </div>
            </div>
            <div class="box2">
                <div class="word">
                    <p>单独计算每个用户的温压补偿计量误差，进而通过公式估算整体的计量误差值。</p>
                </div>
            </div>
            <div class="box3">
                <div class="word">
                    <p>月抄表用户的日用气量结果文件较大，因此可以将用户日用气量按区域进行求和。</p>
                </div>
            </div>
            <div class="box4">
                <div class="word"></div>
                <div class="select">
                    <a href="{% url 'temp2' %}" target="_self">
                    <button1>
                        <span class="span-mother">
                            <span>B</span>
                            <span>u</span>
                            <span>t</span>
                            <span>t</span>
                            <span>o</span>
                            <span>n</span>
                        </span>
                        <span class="span-mother2">
                            <span>B</span>
                            <span>u</span>
                            <span>t</span>
                            <span>t</span>
                            <span>o</span>
                            <span>n</span>
                        </span>
                      </button1>
                    </a>
                </div>
            </div>
            <div class="column1">
                <div class="box5">
                    <div class="title">
                        <p>温压补偿损失量及占比趋势</p>
                    </div>
                    <div class="pic">
                        <div class="bar1">
                            <div class="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="box6">
                    <div class="title">
                        <p>日温压补偿损失曲线</p>
                    </div>
                    <div class="pic">
                        <div class="line1">
                            <div class="chart"></div>
                        </div>
                    </div>
                </div>
                <div class="box7">
                    <div class="title">
                        <p>表具组成情况</p>
                    </div>
                    <div class="list">
                        <table>
                            <!-- <tr>
                                <th>表具类型</th>
                                <th>数量</th>
                            </tr> -->
                            <tr>
                                 <td align="center">普通皮膜表</td>
                                 <td align="center">18</td>   
                            </tr>
                            <tr>
                                <td align="center">IC卡皮膜表</td>
                                <td align="center">12</td>
                            </tr>
                            <tr>
                                <td align="center">CPU卡皮膜表</td>
                                <td align="center">22</td>
                            </tr>  
                            <tr>
                                <td align="center">物联网皮膜表</td>
                                <td align="center">30</td>
                            </tr>
                            <tr>
                                <td align="center">超声波皮膜表</td>
                                <td align="center">10</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="column2"></div>
        </section>
        <script src="/static/js/flexible.js"></script>
        <script src="/static/js/echarts_min.js"></script>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/温压补偿-1.js"></script>
    </body>
</html>